<form iu-upload iu-single>
	<div class="form-group">
		<input type="file" iu-btn>
		<input type="text" iu-url>
		<input type="text" iu-url>
		<button class="btn btn-primary" iu-url-btn>Go</button>
	</div>
	<div ng-show="iu.files">
		<div ng-repeat="file in iu.files">
			<b>{{file.name}}</b>
			<p>{{file.size}}</p>
			<img ng-src="{{file.src}}" class="img-responsive">
			<button class="btn btn-danger" ng-click="iu.cancel($index)">Remove</button>
			<div iu-crop>
				<button class="btn btn-primary" ng-hide="crop.status" ng-click="crop.enter($index)">Crop</button>
				<button class="btn btn-default" ng-show="crop.status" ng-click="crop.exit()">Exit</button>
				<button class="btn btn-success" ng-show="crop.status" ng-click="crop.start()">Start</button>
			</div>
		</div>
		<button class="btn btn-danger" ng-click="iu.cancel()">Remove All</button>
	</div>
</form>

<form iu-upload>
	<div class="form-group">
		<button class="btn btn-default" iu-btn iu-directory="true">Folder</button>
		<div iu-btn iu-drop style="width:100%; height:200px; background:gold;"></div>
	</div>
	<div ng-show="iu.files">
		<div ng-repeat="file in iu.files">
			<b>{{file.name}}</b>
			<p>{{file.size}}</p>
			<img ng-src="{{file.src}}" class="img-responsive">
			<button class="btn btn-danger" ng-click="iu.cancel($index)">Remove</button>
			<div iu-crop>
				<button class="btn btn-primary" ng-hide="crop.status" ng-click="crop.enter($index)">Crop</button>
				<button class="btn btn-default" ng-show="crop.status" ng-click="crop.exit()">Exit</button>
				<button class="btn btn-success" ng-show="crop.status" ng-click="crop.start()">Start</button>
			</div>
		</div>
		<button class="btn btn-danger" ng-click="iu.cancel()">Remove All</button>
	</div>
</form>